:root{
    --trans: .3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
    overflow-x: hidden;
}
body{
    background-color: #e1f4f3;
}

/* header */

header{
    width: 100vw;
    height: auto;
    padding:0.7rem;
    /* background:url("/assets/img/andromeda2.jpg")no-repeat center/cover; */
    background-color: #000;
    overflow-y: hidden;
}
header nav a{
    text-decoration: none;
}
header nav a h3{
    letter-spacing: -3px;
    font-size: 3rem;
    font-weight: 1000;
    color: #fff;
    padding: 2px;
    opacity: 0.7;
}
header nav a h3:hover{
    opacity: 1;
    transition: var(--trans);
}

/* nav */

header nav{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
}

header nav ul{
    list-style: none;
    display: flex;
    margin-right: 3%;
}
header nav ul li{
    padding:6px 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: .3s linear;
    position: relative;
    padding: 4px;
    font-weight:800;
}
header nav ul li a::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0.2rem;
    top: 0;
    left: 0;    
    margin-top: 25px;
    background-color: #fff;
    transition: var(--trans);
}
header nav ul li a:hover::before{
    width: 100%;
}
header nav ul li:nth-last-child(2) a{
    color: #000;
}
header nav ul li:nth-last-child(2){
    background-color: #fff;
    border-radius: 1.3rem;
    padding:7px 1rem;
    font-weight: 600;
}
header nav ul li:nth-last-child(2):hover a{
    color:#fff ;
}
header nav ul li:nth-last-child(2):hover{
    background-color:#000 ;
    cursor: pointer;
    transition: var(--trans);
}
header nav span{
    overflow-y: hidden;
}

/* ----- main ------*/  
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom,#aaa,#7299b3);
    cursor: default;
}
main .container{
    display: flex;
    flex-wrap:wrap ;
}
main .img{
    width:45vw ;
    height: 60vh;
    background: url(/assets/img/andromeda2.jpg)no-repeat center/cover;
    margin-top:5vh ;
    margin-bottom: 2vh;
    border: 3px solid #fff;
    border-radius: 50%;
}
main .image{
    margin-right: 5vw;
}
main .info-planeta{
    width: 40vw;
    height: auto;
    cursor: default;
    margin-top:2vh ;
}
main .info-planeta h2{
    font-size: 3rem;
    margin: 0px 0px 1rem 0px;
}
main .info-viagem{
    width: 40vw;
    height: 30vh;
    cursor: default;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 19px #ccc;
}
main .preco{
    display: flex;
    align-items: center;
    height: 20vh;
}
main .preco h2{
    font-size: 2rem;
    font-family:'Instrument Serif', serif ;
}
main .item{
    margin-left: 5vw;
}
main .compra{
    display: flex;
    align-items: center;
    height: 10vh;
}
main .compra h3{
    cursor: default;
}
main .compra span{
    padding: 2px;
    cursor: pointer;
    margin-left: 10%;
    overflow-y: hidden;
    background: transparent;
    border:3px solid #000;
}
main .compra span:hover{
    font-weight: 1000;
    transition: 200ms linear;
    background-color: #000;
    color: #fff;
}
main .compra button{
    cursor: pointer;
    padding: 1.2rem;
    margin-left: 10%;
    font-weight: 500;
    border: 3px solid #000;
    background: transparent;
    cursor: pointer;
}
main .compra button:hover{
    transition: var(--trans);
    color: #fff;
    background: #000;
}
main .contador{
    display:flex ;
}
main .contador h4{
    font-size: 3rem;
    color: #fff;
}
main .contador h5{
    font-size: 3rem;
    color: #09003a;
}
main .carrinho{
    width: 21vw;
    height: 100vh;
    background: #ffffffee;
    position: fixed;
    top: 0px;
    left: 1210px;
    transition: .3s linear;
    display: none;
}
main .container-carrinho img{
    width: 7vw;
    height: 15vh;
    margin: 5px;
    border: 2px solid #fff;
}
main .container-carrinho h2{
    text-align: center;
    background: #0b4ede80;
    padding: 1.1rem;
    margin-bottom: 1vh;
}
main .container-carrinho-andromeda{
    background: #000000c9;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}
main .container-carrinho-andromeda h3{
    font-size: 1.1rem;
    font-weight: 300;
}
main .container-carrinho-andromeda h4{
    font-size: 2rem;
    font-weight: 300;
}

/* ------ footer -------- */

footer{
    width: 100%;
    height: auto;
    background:#fff617;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h2{
    text-align: center;
    line-height: 40px;
    font-weight: 800;
    font-size: 2.1rem;
    padding: 2.2rem;
}
footer p{
    text-align: center;
    width: 350px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2.2rem;
}
footer .input{
    box-shadow: 0px 3px 20px -1px black;
    border-radius:20px;
}
footer .input input{
    padding: 12px 19px;
    border: none;
    outline: none;
    font-size: 13px ;
    border-radius:20px 0px 0px 20px;
}
footer .input button{
    padding: 13px 30px ;
    border: none ;
    outline: none;
    font-size: 12px ;
    border-radius:0px 20px 20px 0px ;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: var(--trans);
}
footer .input button:hover{
    background-color: gray;
}
footer ul{
    list-style: none;
    margin: 2.2rem;
    display: flex;
}
footer ul li{
    text-align: center;
    margin:2.2rem 30px 2.2rem ;
    font-weight: bold;
    font-size: 1.3rem;
}
footer ul li h6{
    font-size: 11px;
    font-weight: 600;
    max-width:120px;
    border-top: 1px solid black;
    line-height: 18px;
    margin: 0;
}