@media (max-width:1240px){
    .planetas{
        display: none
    }
    .menu{
        display: block;
    }
    .cont-header-desconto{
    top: 450px;
    left: 30px;
    }
}
    
@media (max-width:1025px){
    .planetas{
        display: none
    }
    .menu{
        display: block;
    }
    .cont-header-desconto{
    top: 450px;
    left: 30px;
    }
}

@media (max-width:769px){
    header .cont-header h1{
        font-size: 2rem;
    }
    header .cont-header-box-text{
        margin-left: 0.1%;
        width: 100%;
    }
    .side-bar{
        width: 31.5vw;
    }
    .cont-header-desconto{
        top: 520px;
        left: 10px;
        width: 60vw;
    }
    .cont-header-desconto h2{
        display: none;
    }
    .cont-header-desconto h2{
        font-size: 1.5rem;
    }

    /* ----- andromeda ----- */

    .andromeda{
        height: 90vh;
    }
    .andromeda-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .andromeda-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .andromeda-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

    /* ----- centauri ----- */

    .centauri{
        height: 90vh;
    }
    .centauri-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .centauri-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .centauri-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

    /* ----- marte ----- */

    .marte{
        height: 90vh;
    }
    .marte-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .marte-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .marte-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

    /* ----- netuno ----- */

    .netuno{
        height: 90vh;
    }
    .netuno-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .netuno-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .netuno-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

    /* ----- saturno ----- */

    .saturno{
        height: 90vh;
    }
    .saturno-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .saturno-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .saturno-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

    /* ----- lua ----- */

    .lua{
        height: 90vh;
    }
    .lua-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .lua-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .lua-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

    /* ----- criacao ----- */

    .criacao{
        height: 90vh;
    }
    .criacao-desconto-info-basica h2{
        font-size: 0.9rem;
        margin: 0.5rem;
    }
    .criacao-desconto-cont h2{
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .criacao-desconto-cont button{
        font-size: 0.7rem;
        padding: 0.5rem;
        margin: 1.8rem;
    }

}
@media (max-width:490px){
    header .cont-header h1{
        font-size: 2rem;
    }
    header .cont-header-box{
        width: 85%;
        margin-left: 10%;
    }
    header .cont-header-box-text{
        margin-left: 0.1%;
    }
    .side-bar{
        width:50vw;
        height: 80vh;
    }
    .side-bar-link{
        width: 30vw;
    }
    .side-bar-link-none{
        display: block;
        background: #fff;
        border: 3px solid #0c082d;
    }
    .side-bar-link-none a, .side-bar-link-none span{
        color: #000;
    }
    .close{
        left: 41vw;
    }
    .sol{
        display: none;
    }
    .cont-header-desconto{
        top: 530px;
        left: 15px;
    }
    .cont-header-desconto h2{
        display: none;
    }
    .cont-header-desconto button{
        margin: 0;
        padding: 1rem;
        width: 30vw;
    }
}

@media (max-width:300px){
    header nav a h3{
        font-size: 2rem;
    }
    header .cont-header h1{
        font-size: 2rem;
    }
    header .cont-header h1::first-letter{
        font-size: 3rem;
    }
    header .cont-header p{
        font-size: 0.7rem;
    }
    header .cont-header-box {
        width: 95%;
        margin-left: 05%;
        text-align: center;
    }
    .cont-header-desconto {
        top: 560px;
        left: 15px;
    }
    .cont-header-desconto button{
        width: 48vw;
        margin: auto;
    }
    .side-bar{
        width:100vw;
        height: 80vh;
    }
    .side-bar-link{
        width: 60vw;
    }
    .side-bar-link-none{
        display: block;
        background: #fff;
        border: 3px solid #0c082d;
    }
    .close{
        left: 83vw;
    }
    .info-travel{
        display: none;
    }
    .andromeda-desconto-cont button,
    .centauri-desconto-cont button,
    .marte-desconto-cont button,
    .saturno-desconto-cont button,
    .lua-desconto-cont button,
    .netuno-desconto-cont button,
    .criacao-desconto-cont button{
        margin: 0;
    }

    .andromeda-desconto-info-basica h2,
    .centauri-desconto-info-basica h2,
    .marte-desconto-info-basica h2,
    .saturno-desconto-info-basica h2,
    .netuno-desconto-info-basica h2,
    .criacao-desconto-info-basica h2,
    .lua-desconto-info-basica h2{
        font-size: 0.7rem;
        margin: 0.6rem 1px 0.6rem 1px;
    }

    footer .input button{
        width: 30vw;
        padding: 15px 1px;
        font-size: 9px;
    }
    footer p{
        width: 90vw;
        margin: 0.5rem;
        font-size: 0.8rem;
    }
    footer .input input{
        width: 70vw;
        padding: 14px 12px;
        font-size: 10px;
    }
    
}